<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.chlorinefinalproject">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChlorineFinalProject">
        <activity
            android:name=".CoinFlipHistoryActivity"
            android:label="@string/title_activity_coin_flip_history"
            android:exported="false" />
        <activity
            android:name=".CoinFlipChooseActivity"
            android:label="@string/title_activity_coin_flip_choose"
            android:exported="true" />
        <activity
            android:name=".CoinFlipActivity"
            android:label="@string/title_activity_coin_flip"
            android:exported="true" />
        <activity
            android:name=".TimerActivity"
            android:exported="true"
            android:label="@string/title_activity_timer" />
        <activity
            android:name=".EditChildActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_or_delete_child"
            android:parentActivityName=".ListOfChildrenActivity"
            android:theme="@style/Theme.ChlorineFinalProject.NoActionBar" />
        <activity
            android:name=".ListOfChildrenActivity"
            android:exported="true"
            android:label="@string/title_activity_list_of_children"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ChlorineFinalProject.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>